*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    .footer-wrapper{
        bottom: 0;
        position: sticky;
        a{
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: lightgreen;
            }
        }
    }
}